{% extends 'base.html' %}

{% block header %}<h1>Class Rankings</h1>{% endblock %}

{% block content %}

<ul class="class-list">
  {% for show in shows %}
      {% set rating = show['score'] %}
      <li class="class-item" style="background-color: {% if rating >= 20/3 %}#B4FFB4{% elif rating >= 10/3 %}#FFFFB4{% else %}#FFB4B4{% endif %};">
          <span class="class-title">{{ show['title'] }}</span>
          <span class="class-rating">{{ rating }}</span>
      </li>
  {% endfor %}
</ul>

  {% if g.user %}
    <a class="action" href="{{ url_for('game.create') }}">Rank New Class</a>
  {% endif %}
{% endblock %}